.grid__row
        .grid__column.grid__unit--md-5
                div(:class="{ 'invalid': isInvalid }")
                        label.typo__label 至少选择一项



                        multiselect(







                        remote="/api/common/dict/customs"
                        style="width: 50%;",
                        :selected.sync="selected",

:cache="true",
                        :deep="true",
                        data-key="data",
                        key="id",

                        label="nameZh",


                        :taggable="true",
                        :multiple="false"








                        )
                         input(type="hidden",slot="validate")

